/* app css stylesheet */

html, body {
  padding: 0;
  margin: 0;
}

[ng-click],
[data-ng-click],
[x-ng-click] {
    cursor: pointer;
}

body {
  background: url(../img/space-pattern.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  position: relative;
  color: #fff;
}

.z-index-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.z-index-2 {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.z-index-3 {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.z-index-4 {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.z-index-5 {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.avatar {
  position: absolute;
  top: 16px;
  right: 16px;
}

.avatar > i.icon {
  margin: 0;
}
.avatar h2 {
  margin: 0;
}

