/* app css stylesheet */

html, body {
    padding: 0;
    margin: 0;

    font-size: 14px;

    width: 100%;
    height: 100%;

    overflow: hidden;
}

[ng-click],
[data-ng-click],
[x-ng-click] {
    cursor: pointer;
}

body {
    background: url(../img/space-pattern.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    position: relative;
    color: #fff;
}

/* Top level ui-view container */

#main_views {
    height: 100%;
    width: 100%;

    position: relative;
}

/* Login Form */

#login_form {
    height: 340px;

    margin: auto;
    padding: 0;
    position: absolute;

    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
}

/* box-shadow helper class */
.z-index-1 {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.z-index-2 {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.z-index-3 {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.z-index-4 {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.z-index-5 {
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

/* top level chat definition */
.height-inherit {
    height: 100%;
}

#chat_container {
    /* to override the grid system in semantic */
    margin: 0;
    padding: 0;
}

#chat_content_container {
    overflow-y: auto;
    overflow-x: hidden;

    height: 624px; /* Fallback! **/
    height: -webkit-calc(100% - 104px); /* Ch <26, Saf 6, BB 10 */
    height:    -moz-calc(100% - 104px); /* Fx <16 */
    height:         calc(100% - 104px); /* IE 9+, Fx 16+, Ch 26+ */
}

.minimal.messages .messages {
    position: relative;
    display: block;
    list-style: none;

    margin: 0;
    padding: 0;
}

.minimal.messages .message img.ui.avatar,
.minimal.messages .my-message img.ui.avatar {
    width: 3em;
    height: 3em;
}

.minimal.messages .message img.ui.avatar {
    float: left;
}
.minimal.messages .my-message img.ui.avatar {
    float: right;
}

.minimal.messages .message .content,
.minimal.messages .my-message .content {
    display: inline-block;

    padding: 0.35em 0.7em;
    margin-bottom: 0.4em;
    margin-left: 1em;
    margin-right: 1em;

    max-width: 100%;

    position: relative;
    background: #d56687;

    border-radius: 0.3em;
}

.minimal.messages .my-message .content {
    float: right;
}

.minimal.messages .message .content:after,
.minimal.messages .message .content:before {
    right: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.minimal.messages .message .content:after {
    border-color: rgba(213, 102, 135, 0);
    border-right-color: #d56687;
    border-width: 8px;
    margin-top: -8px;
}

.minimal.messages .my-message .content:after,
.minimal.messages .my-message .content:before {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.minimal.messages .my-message .content:after {
    border-color: rgba(213, 102, 135, 0);
    border-left-color: #d56687;
    border-width: 8px;
    margin-top: -8px;
}

.minimal.messages .message .content .text {
    margin-left: 1em;
}

.minimal.messages .my-message .content .text {
    float: right;
    margin-right: 1em;
}

/* Animations */
#main_views.ng-enter,
#main_views.ng-leave {
    -webkit-transition: 1s all;
       -moz-transition: 1s all;
            transition: 1s all;
}

#main_views.ng-enter #login_form {
    -webkit-animation: fadeInDown 1s;
         -o-animation: fadeInDown 1s;
            animation: fadeInDown 1s;
}

#main_views.ng-leave #login_form {
    -webkit-animation: fadeOut 0.7s;
         -o-animation: fadeOut 0.7s;
            animation: fadeOut 0.7s;
}

#login_feedback.ng-enter {
    -webkit-animation: fadeInUp 0.3s;
         -o-animation: fadeInUp 0.3s;
            animation: fadeInUp 0.3s;
}

#login_feedback.ng-leave {
    -webkit-animation: fadeOutDown 0.3s;
         -o-animation: fadeOutDown 0.3s;
            animation: fadeOutDown 0.3s;
}

.message.ng-enter,
.my-message.ng-enter {
    -webkit-animation: fadeInUp 0.5s;
         -o-animation: fadeInUp 0.5s;
            animation: fadeInUp 0.5s;
}