<section class="ui one column page grid height-inherit">
	<section class="column z-index-3 height-inherit" id="chat_container">
		<header class="ui red inverted menu z-index-3">
			<div class="header item">
				<i class="chat outline icon"></i>
				Simple Chat
			</div>

			<div class="right menu">
				<div class="header item">
					<i class="users icon"></i>
					<span class="ui label">6</span>
				</div>
			</div>
		</header>

		<div class="column" id="chat_content_container">
			<ul class="ui minimal messages" ng-repeat="message in chat.messages">
				<li class="clearfix" ng-class="
					{
						'message': message.author !== chat.user,
						'my-message': message.author === chat.user.displayName
					}">
					<img class="ui avatar image"
						ng-src="{{user.profileImage}}"
						alt="profile image">
					<div class="content">
						<a class="author">
							{{message.author}}
						</a>
						<span class="metadata">
							<span class="date">
								{{message.timestamp}}
							</span>
						</span>
						<div class="text">
							{{message.text}}
						</div>
					</div>
				</li>
			</ul>
		</div>

		<footer>
			<div class="ui left icon action fluid input">
				<i class="comment outline icon"></i>
				<input type="text" autofocus placeholder="Say something..."
					ng-model="chat.message.text"
					ng-enter="chat.saySomething()">
				<div class="ui red button" ng-click="chat.saySomething()">
					Enter
				</div>
			</div>
		</footer>
	</section>
</section>